@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: 'Inter', sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-50: #f9f9f9;
    --color-gray-100: #ececec;
    --color-gray-200: #e3e3e3;
    --color-gray-300: #cdcdcd;
    --color-gray-400: #b4b4b4;
    --color-gray-500: #9b9b9b;
    --color-gray-600: #676767;
    --color-gray-700: #424242;
    --color-gray-800: #2f2f2f;
    --color-gray-900: #171717;
    --color-gray-950: #0d0d0d;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-reverse: var(--primary-reverse);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-reverse-foreground: var(--primary-reverse-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
    
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 1rem;
    --background: var(--color-white);
    --foreground: var(--color-gray-950);
    --card: var(--color-white);
    --card-foreground: var(--color-gray-950);
    --popover: var(--color-white);
    --popover-foreground: var(--color-gray-950);
    --primary: var(--color-gray-950);
    --primary-reverse: var(--color-white);
    --primary-foreground: var(--color-white);
    --primary-reverse-foreground: var(--color-gray-950);
    --secondary: var(--color-gray-100);
    --secondary-foreground: var(--color-gray-950);
    --muted: var(--color-gray-100);
    --muted-foreground: var(--color-gray-500);
    --accent: var(--color-gray-100);
    --accent-foreground: var(--color-gray-950);
    --destructive: #ef4444;
    --destructive-foreground: var(--color-white);
    --border: var(--color-gray-200);
    --input: var(--color-gray-200);
    --ring: var(--color-gray-950);
    --chart-1: #3b82f6;
    --chart-2: #10b981;
    --chart-3: #f59e0b;
    --chart-4: #ef4444;
    --chart-5: #8b5cf6;
    --sidebar: var(--color-gray-50);
    --sidebar-foreground: var(--color-gray-950);
    --sidebar-primary: var(--color-gray-950);
    --sidebar-primary-foreground: var(--color-gray-50);
    --sidebar-accent: var(--color-gray-100);
    --sidebar-accent-foreground: var(--color-gray-950);
    --sidebar-border: var(--color-gray-200);
    --sidebar-ring: var(--color-gray-950);
}

.dark {
    --background: var(--color-black);
    --foreground: var(--color-gray-50);
    --card: var(--color-gray-950);
    --card-foreground: var(--color-gray-50);
    --popover: var(--color-black);
    --popover-foreground: var(--color-gray-50);
    --primary: var(--color-white);
    --primary-reverse: var(--color-black);
    --primary-foreground: var(--color-black);
    --primary-reverse-foreground: var(--color-white);
    --secondary: var(--color-gray-900);
    --secondary-foreground: var(--color-gray-50);
    --muted: var(--color-gray-900);
    --muted-foreground: var(--color-gray-400);
    --accent: var(--color-gray-900);
    --accent-foreground: var(--color-gray-50);
    --destructive: #7f1d1d;
    --destructive-foreground: var(--color-white);
    --border: var(--color-gray-800);
    --input: var(--color-gray-800);
    --ring: var(--color-gray-300);
    --chart-1: #60a5fa;
    --chart-2: #34d399;
    --chart-3: #fbbf24;
    --chart-4: #f87171;
    --chart-5: #a78bfa;
    --sidebar: var(--color-black);
    --sidebar-foreground: var(--color-gray-50);
    --sidebar-primary: var(--color-white);
    --sidebar-primary-foreground: var(--color-black);
    --sidebar-accent: var(--color-gray-900);
    --sidebar-accent-foreground: var(--color-gray-50);
    --sidebar-border: var(--color-gray-800);
    --sidebar-ring: var(--color-gray-300);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}